@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

#select-pokemon-page {
  width: 100%;
  height: 100vh;
}

#select-pokemon-page h1 {
  margin: 20px auto;
  text-align: center;
}

.pokemons-to-select {
  height: min-content;
  width: 93%;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  background-color: rgb(198, 251, 233);
  transition: 0.3s ease;
  container-type: inline-size;
}

.pokemon-card:hover {
  cursor: pointer;
  background-color: rgb(145, 255, 218);
  transition: 0.3s;
}

.pokemon-card:hover h2 {
  font-size: 1.5rem;
  transition: 0.3s ease;
  margin-left: -3px;
}

.pokemon-data {
  margin-top: auto;
  padding: 10px;
}

.pokemon-data h2 {
  background-color: white;
  width: min-content;
  white-space: nowrap;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  transition: 0.3s ease;
  font-size: 1.25rem;
}

.invisible {
  display: none;
}

.loading-container {
  font-size: 3rem;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  margin: 2rem auto;
  text-align: center;
}

.loading-container h2 .first-dot {
  animation: blinkDot 1.5s infinite;
  animation-delay: 0.11s;
}

.loading-container h2 .second-dot {
  animation: blinkDot 1.5s infinite;
  animation-delay: 0.22s;
}

.loading-container h2 .third-dot {
  animation: blinkDot 1.5s infinite;
  animation-delay: 0.33s;
}

@keyframes blinkDot {
  0%,
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

