@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: black;
}

.start-page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../resources/start-page-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: white;
  padding: 100px;
}

.start-page h1 {
  font-size: 18rem;
  backdrop-filter: blur(4px);
}

.start-page h2 {
  font-size: 7rem;
  color: rgb(240, 87, 87);
  margin: -30px 10px 0 0;
  z-index: 1;
  text-decoration: underline;
  backdrop-filter: blur(4px);
}

.start-page h3 {
  width: min-content;
  font-size: 4rem;
  margin: 70px 0 20px;
}

.start-page h3:hover {
  cursor: pointer;
  
}

#start-game {
  font-size: 5rem;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: white;
  border: none;
  background-color: transparent;
  transition: 1.3s ease;
}

#start-game:hover {
  cursor: pointer;
  transition: 1s ease;
  transition: 0.3s ease;
  margin-left: -15px;
}

.instructions {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-width: 600px;
  background: white;
  padding: 30px;
  z-index: 10;
  overflow-y: auto;
  max-height: 80vh; 
  align-items: center;
}

.instructions-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 9; 
}

#close-instructions{
  margin: auto;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  color: red;
  text-align: center;
  border: 2px solid red;
  padding: 5px
}

.instructions hr {
  margin: 15px 0;
}

.instructions h1 {
  font-size: 4rem;
}

.instructions ul {
  list-style: number;
}

.instructions li {
  margin-left: 20px;
  font-size: 1.75rem;
}

.important-stuff {
  font-size: 1.25rem;
}

@media only screen and (max-width: 1425px) {
  .start-page h1 {
    font-size: 12rem;
  }

  .instructions h1 {
    font-size: 3rem;
  }

  .instructions li {
    margin-left: 20px;
    font-size: 1.55rem;
  }

  .important-stuff {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 1000px) {
  .start-page h1 {
    font-size: 9rem;
  }

  .start-page h2 {
    font-size: 4rem;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 800px) {
  .start-page h1 {
    font-size: 5rem;
  }

  .start-page h2 {
    font-size: 2rem;
  }

  .start-page h3 {
    font-size: 3rem;
    margin: 160px 0;
  }

  #start-game {
    font-size: 3rem;
    backdrop-filter: blur(7px);
  }

  .instructions h1 {
    font-size: 2.25rem;
  }

  .instructions li {
    margin-left: 20px;
    font-size: 1.35rem;
  }

  .important-stuff {
    font-size: 1rem;
  }

  .instructions-overlay {
    display: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .start-page {
    padding: 50px;
  }
  .start-page h1 {
    font-size: 4rem;
  }

  .start-page h2 {
    font-size: 2.5rem;
  }

  .start-page h3 {
    font-size: 3.75rem;
    margin: 160px 0;
  }

  #start-game {
    font-size: 3.75rem;
    backdrop-filter: blur(7px);
  }
}

@media only screen and (max-width: 480px) {
  .start-page {
    padding: 50px;
  }
  .start-page h1 {
    font-size: 4rem;
  }

  .start-page h2 {
    font-size: 1.5rem;
  }

  .start-page h3 {
    font-size: 2.25rem;
    margin: 160px 0;
  }

  #start-game {
    font-size: 2.25rem;
    backdrop-filter: blur(7px);
  }

  .instructions {
    width: 95vw;
    height: 95vh;
    top: 2.5vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: none;
    max-height: none;
    overflow-y: auto;
    padding: 16px;
  }

  .instructions h1 {
    font-size: 3rem;
  }

  .instructions li {
    margin-left: 20px;
    font-size: 1.55rem;
  }

  .important-stuff {
    font-size: 1.15rem;
  }
}
